<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/estilos.css"></link>

<body>

	<div class="uk-position-bottom-center">
		<div th:fragment="copy">
			<!-- PERMITE DAR UM ESPAÇO de 40px -->
			<img src="Images/Agap2.png"/>
			
			<div class="uk-width-medium-1-2">
						<div class="uk-align-middle">
							<div class="bannerFooterTitle">
								<div class="alignFooter">
									<div class="uk-icon uk-icon-large uk-icon-phone"></div>
								</div>
								<div class="uk-width-medium-1-1">
									<img src="Images/Agap2.png"/>
								</div>

							</div>
						</div>
					</div>


		</div>
	</div>
</body>
</html>


