<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Horus</title>

<link type="text/css" rel="stylesheet"
 href="webjars/uikit/2.18.0/css/uikit.css"></link>

<link type="text/css" rel="stylesheet" href="css/estilos.css"></link>
<style>
	html {    
    background:url(css/images/one.jpg);
    background-position: center center;  
  	background-repeat: no-repeat;
 	background-attachment: fixed;
	background-size: cover;
	}
</style>

</head>


 <div th:include="header :: copy"></div>

  <div class="space"></div>
  <div class="space"></div>
  <!-- Container central -->
  
 <div class="uk-width-large-1-5 uk-container-center">
  <div class="uk-vertical-align uk-text-center uk-height-1-1"> 
   <div class="uk-vertical-align-middle">
   
    <form class="uk-panel uk-panel-box uk-form" action="#"
     th:action="@{/login}" th:object="${loginForm}" method="post">
     <legend>
      <h2>
       <p th:text="#{login.title}"></p>
      </h2>
     </legend>

     <div th:if="${param.error}" class="uk-alert uk-alert-danger">
      <h4>
       <p th:text="#{loginErrors.errors}"></p>
      </h4>
     </div>
     <div class=" uk-form-row">
      <div class="uk-form-icon">
       <div class="uk-icon-user"></div> 
       <input class="uk-width-1-1 uk-form-large " name="email" type="email"
        th:field="*{email}" placeholder="Email" />
      </div>
     </div>
     <p />
       <div class=" uk-form-row">
      <div class="uk-form-icon">
       <div class="uk-icon-key"></div>
        <input class="uk-width-1-1 uk-form-large " name="password"
         type="password" th:field="*{password}" placeholder="Password" />
       
      </div>
     </div>
     <p />
     <Button
      class="uk-width-1-1 uk-button uk-button-success uk-button-large"
      type="submit">
      <p th:text="#{login.enter}"></p>
     </Button>
     <p />
     <div class="uk-form-row">
      <a
       class="uk-width-1-1 uk-button uk-button-primary uk-button-large"
       href="register"><p th:text="#{login.newUser}"></p></a>
     </div>
     

    </form>
   </div>
  </div>
 </div>
 <div class="space"></div>
 



</html>